{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>

   </head>
   <body>
      <!-- about -->
      <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <div class="titlepage">
                     <h2>Seller Index</h2>
                     <span>The Only Source Of Farm Fresh And Organic Fruits  </span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="about_img">
                     <figure><img src="{% static 'images/about.png' %}" alt="#"/></figure>
                     <a class="read_more" href="{% static 'Javascript:void(0)' %}"> Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- our products -->
      <div class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Our Products</h2>
                     <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptu
                     </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div id="ho_bo" class="our_products">
                     <div class="product">
                        <figure><img src="{% static 'images/pro1.png' %}" alt="#"/></figure>
                     </div>
                     <h3>Mangoes For Juice</h3>
                     <span>Nam libero tempore</span>
                     <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div id="ho_bo" class="our_products">
                     <div class="product">
                        <figure><img src="{% static 'images/pro2.png' %}" alt="#"/></figure>
                     </div>
                     <h3>Apple For Juice</h3>
                     <span>Nam libero tempore</span>
                     <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div id="ho_bo" class="our_products">
                     <div class="product">
                        <figure><img src="{% static 'images/pro3.png' %}" alt="#"/></figure>
                     </div>
                     <h3>Orange For Juice</h3>
                     <span>Nam libero tempore</span>
                     <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div id="ho_bo" class="our_products">
                     <div class="product">
                        <figure><img src="{% static 'images/pro4.png' %}" alt="#"/></figure>
                     </div>
                     <h3>Pineapple For Juice</h3>
                     <span>Nam libero tempore</span>
                     <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our products -->
      <!-- using -->
      <div class="using">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2 >100% Farm Fresh And Organic</h2>
                     <p>We Do not use any kind of chemical fertilizers for growing our fruits.</p>
                     <a class="read_more white_bg" href="{% static 'Javascript:void(0)' %}"> Read More</a>
                  </div>
               </div>
               <div class="col-md-5 offset-md-1 padding_right0">
                  <div class="frout_img">
                     <figure><img src="{% static 'images/frout.png' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end using -->
      <!-- gallery -->
      <div  class="gallery">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Gallery</h2>
                     <span>The Only Source Of Farm Fresh And Orgnaic Fruits </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery1.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery2.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery3.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery4.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery5.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{% static 'images/gallery6.png' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      {% endblock %}
   </body>
</html>
