{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>

   </head>
   <body>
        <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <div class="titlepage">                     
                     <h2>My Products</h2>
                     <span>The Only Source Of Farm Fresh And Orgnaic Fruits </span>
                  </div>
               </div>
            </div>
            {% for i in product %}
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="gallery_img" align="center">
                     <figure><img src="{{i.product_image.url}}" alt="#"/></figure>
                  </div>
                  <h3 align="center">{{i.product_name}}</h3>
                  <p class="product_price" align="center">{{i.product_price}}<span>Per Kg</span></p>
                  <div align="center">
                     <a href="{% url 'seller_product_details' pk=i.pk %}"><button class="send_btn">Details</button></a>
                  </div>
                  
               </div> 
               {% endfor %}             
      {% endblock %}
   </body>
</html>
